services:
  app1:
    build: ./backend
    container_name: app1
    environment:
      - CONTAINER_NAME=app1
    networks:
      - app-network

  app2:
    build: ./backend
    container_name: app2
    environment:
      - CONTAINER_NAME=app2
    networks:
      - app-network

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app1
      - app2
    networks:
      - app-network

networks:
  app-network:
    driver: bridge